@import 'vars.styl'

.Square
  width $SQUARE_SIZE
  height $SQUARE_SIZE
  color black
  background white
  font-size 2.5rem
  line-height 0
  position relative
  box-sizing border-box

  &.is-black
    background #aaa

  &.is-avalible
    background lime

  &:hover
    border 2px solid lime
    cursor pointer
